form{
width: 600px;
}
input{
    width: 300px;
    }
 textarea{
    resize: vertical;
    max-height: 100px;
}
input, textarea { outline: none;
    border: 1px solid #ddd;
    }
    
    input:focus, textarea:focus {
        box-shadow: 0 0 4px rgba(225, 0, 0, 0.5);
        border: 1px solid rdb(225, 0, 0);
    }
 ::placeholder {
    color: green;
    opacity: 1;
 }   

